<!DOCTYPE html>
<html lang="en">
  <head>

    <title>AngularJS Routing example</title>

    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body ng-app="sampleApp" ng-controller="HomeController">

		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#Home">Rail App</a>
				</div>
			</div>
		</nav>
		Welcome {{name}}
		
		<div ng-show="showLoginButton" class="fb-login-button" data-max-rows="1" data-size="medium" 
		data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true"
		data-scope="email,user_photos,user_friends,read_custom_friendlists"></div>

		
		<!-- Display user profile data -->
		<!--<div id="userData"></div>-->

		<div class="col-md-12">
		  	<div ng-view></div>
		</div>
	
		<div>
			<a href="#getTop5Friends">Click here to get your top 5 Friends</a>
		</div>

	<script src="./lib/angular.js"></script>
	<script src="app.js"></script>
	<script src="./controllers/homeController.js"></script>
	<script src="./controllers/friendController.js"></script>

  </body>
</html>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=1330167790435760";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>