<h2>Show Order</h2>
<table class="table table-striped"> 
        <thead>
            <tr>
                <th>Id</th>
                <th>OrderName</th>
                <th>customerNmae</th>
            </tr>
        </thead>
        
        <tr ng-repeat = "value in tempOrders">
            <td> {{value.orderId}} </td>
            <td> {{value.orderName}} </td>
            <td>{{value.customerName}}
          </tr>
</table>

hfkjglh