<div>

    <table>
        <tr ng-repeat="x in topFriends">
            <td>{{ x.name }}</td>
            <td>
                <img src= "{{ x.picture.data.url }}" alt="Smiley face" height="50" width="50">
                </td>
        </tr>
    </table>
</div>